<!DOCTYPE html>
<html>
    <head>
        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">

        <div class="header">
            <h3>{{@blog.title}}</h3>
            {{navigation}}
        </div>

        <div class="content">
            {{{body}}}
        </div>

        {{ghost_foot}}

    </body>
</html>